body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.42857143;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 24px;
  font-weight: bold;
}

#logo{
width:200px;

background-image:url(logo.gif);
}

/* set background image per page */
.login-bg {
	background: url(login-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

/* set background image per page */
.signup-bg {
	background: url(signup-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}


/* set background image per page */
.welcome-bg {
	background: url(welcome-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.logo {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

.login-button {
	position: absolute;
    right: -25px;
    top: 50%;
    background: #FF00EE;
    color: white;
    padding: 11px 0;
    width: 60px;
    height: 60px;
    margin-top: -25px;
    border: 5px solid white;
    border-radius: 50%;
    font-family: 'Varela Round';
}

.login-button:hover {
  	color: #555555;
	-webkit-animation:spin 1s linear infinite;
	-moz-animation:spin 1s linear infinite;
	animation:spin 1s linear infinite;
	}
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.main-button {
	background: #FF00EE;
    color: white;
    padding: 11px 11px;
    width: 60px;
    height: 60px;
    border: 5px solid white;
    font-family: 'Varela Round';

}

.main-button:hover {
	 color: #555555;
	 line-height: none;
}

.form-control {

	border-bottom-color: rgb(239, 239, 239);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: rgb(153, 153, 153);
	display: block;
	font-family: 'Varela Round';
	font-size: 14px;
	height: 36px;
	line-height: 20px;
	margin-bottom: 0px;
	padding: 10px 20px;
	position: relative;
	text-align: left;

}

.well {
    background: #ffffff;
    border-color: white;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}


#profile-header {
		background: url(login-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 90vh;
	width: 100%;

}









nav.navbar-findcond { 
	background: #fff; 
	border-color: #ccc; 
	box-shadow: 0 0 2px 0 #ccc; 
}

nav.navbar-findcond a { 
	color: ##555555; }

nav.navbar-findcond ul.navbar-nav a { 
	color: ##555555; border-style: solid; 
	border-width: 0 0 2px 0; 
	border-color: #fff; 
	border-bottom-width: 5px;
    border-left-width: 0;
    padding-bottom: 10px;
    padding-left: 14px;
}

nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { 
	background: #fff; 
}

nav.navbar-findcond ul.navbar-nav a:hover { 
	border-color: ##555555; 
}

nav.navbar-findcond li.divider { 
	background: #ccc; 
}
nav.navbar-findcond button.navbar-toggle { 
	background: ##555555; 
	border-radius: 2px; 
}

nav.navbar-findcond button.navbar-toggle:hover { 
	background: #999; 
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar { 
	background: #fff; 
}

nav.navbar-findcond ul.dropdown-menu { 
	border: 0; 
	background: #fff; 
	border-radius: 4px; 
	margin: 4px 0; 
	box-shadow: 0 0 4px 0 #ccc; 
}

nav.navbar-findcond ul.dropdown-menu > li > a { 
	color: #444; 
}

nav.navbar-findcond ul.dropdown-menu > li > a:hover { 
	background: ##555555; 
	color: #fff; 
}

nav.navbar-findcond ul.dropdown-menu > li > div { 
	color: #444; 
}

nav.navbar-findcond ul.dropdown-menu > li > div:hover { 
	background: ##555555; 
	color: #fff; 
}

nav.navbar-findcond span.badge { 
	background: ##555555; 
	font-weight: normal; 
	font-size: 11px; 
	margin: 0 4px; 
}

nav.navbar-findcond span.badge.new { 
	background: rgba(255, 0, 0, 0.8); 
	color: #fff; 
}








