<div class="signup-bg">
  <div class="text-center" style="padding:100px 0">
			<h1>Helping musicians find hella  <br>
			slammin' venues all ova dis' globe.</h1> 
					<div class="welcome-background" id="welcome"></div>
							<div class="container">
								<div class="col-sm-4 col-sm-offset-4">
									<br>
									<main-button><%= link_to "LOG IN", "/login", class: "main-button" %> </main-button>
									<br>
									<br>
									<br>
									<main-button><%= link_to "SIGN UP", "/signup", class: "main-button" %> </main-button>
								</div>
							</div>
							<div align='center'><a href='http://www.hit-counts.com'><img src='http://www.hit-counts.com/counter.php?t=MTM3MjAxNw==' border='0' alt='Web Counter'></a>
							</div>
	</div>					
</div>
