<div class="welcome-bg">
	<div class="text-center" style="padding:280px 0">

		<h1>Helping musicians find hella slammin' <br>
		venues all ova dis' globe. Aiight!</h1> 
			<div class="welcome-background" id="welcome"></div>
				<div class="container">
					<div class="col-sm-4 col-sm-offset-4">
						<br>
						<main-button><%= link_to "LOG IN", "/login", class: "main-button" %> </main-button>
						<br>
						<br>
						<br>
						<main-button><%= link_to "SIGN UP", "/signup", class: "main-button" %> </main-button>
					</div>
				</div>
	</div>					
</div>
