<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">VOLTAGE CITIES</a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class=""><a href="/login">LOG IN</a></li>
            <li class=""><a href="/signup">SIGN UP</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</div>
</div>

<div class ="index-background">
<div class="welcome-bg">
  <div class="text-center" style="padding:100px 0">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h7 class="welcome-title">Helping musicians find venues.</h7>

    <div class="welcome-background" id="welcome"></div>
    <br><br><br>
    <div class="container">
     <div align='center'><a href='http://www.hit-counts.com'><img src='http://www.hit-counts.com/counter.php?t=MTM3MjAxNw==' border='0' alt='Web Counter'></a>
     </div>
   </div>					
 </div>
</div>

 
 </div>




