<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">VOLTAGE CITIES</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class=" dropdown"><a href="/sessions" class="dropdown-toggle "  role="button" aria-haspopup="true" aria-expanded="false">PROFILE </a>
            </li>
          </ul>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li class=""><a href="/">LOG OUT</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="cities-bg">
    <div class="text-center" style="padding:200px 0">
      <div id="map"></div>
      <br>
<br>
<br>
        <div class="container">
          <div class="col-md-12 col-xs-12" align="center">
                  <main-button><%= link_to "SAN FRANCISCO", "/cities/1", class: "main-button",'data-no-turbolink' => true %> </main-button>
                  <main-button><%= link_to "NEW YORK", "/cities/2", class: "main-button",'data-no-turbolink' => true %> </main-button>
                  <main-button><%= link_to "LONDON", "/cities/3", class: "main-button",'data-no-turbolink' => true %> </main-button>
                  <main-button><%= link_to "GIBRALTAR", "/cities/4", class: "main-button",'data-no-turbolink' => true %> </main-button>
          </div>
        </div>
      </div>
    </div>        


